<!DOCTYPE HTML>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Select a query of the following list:</h3>
                        <a th:href="@{/address}">Find all incidents that took place in a specific street</a>
                        <br><br>
                        <a th:href="@{/zipcode}">Find all incidents that took place in a specific zipcode</a>
                        <br><br>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>

