<!DOCTYPE HTML>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="content">
    <div class="row">
        <h3>Most common service request in a specified bounding box for a specific day</h3>
        <br>
        <form method="post" class="form-group" action="/query5">
            <div class="form-group">
                <label for="day">Enter a day:&nbsp;</label>
                <br>
                <input class="form-control" type="text" name="day" id="day" maxlength="50"/>
            </div>
            <br>
            <p>Enter a coordinate bounding box:</p>
            <div class="form-group">
                <label for="xlow">X Coordinate - Low:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000000001" name="xlow" id="xlow"/>
            </div>
            <br>
            <div class="form-group">
                <label for="xhigh">X Coordinate - High:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000000001" name="xhigh" id="xhigh"/>
            </div>
            <br>
            <div class="form-group">
                <label for="ylow">Y Coordinate - Low</label>
                <br>
                <input class="form-control" type="number" step="0.0000000000001" name="ylow" id="ylow"/>
            </div>
            <br>
            <div class="form-group">
                <label for="yhigh">Y Coordinate - High</label>
                <br>
                <input class="form-control" type="number" step="0.0000000000001" name="yhigh" id="yhigh"/>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Ok"/>
        </form>
        <br><br>
        <table class="table table-striped">
            <thead>
            <tr>
                <br>
                <th>Result</th>
                <br>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item} ">Count</td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>

