<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">
    <div class="row">
        <h3>Add New Rodent Baiting Incident</h3>
        <form method="post" class="form-group" th:action="@{/rodent}">
            <div class="form-group">
                <label for="rats">Number of Premises with Rats:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000001" name="rats" id="rats" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="garbage">Number of Premises with Garbage:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000001" name="garbage" id="garbage" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="baited">Number of Premises Baited:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000001" name="baited" id="baited" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="address">Street Address:&nbsp;</label>
                <br>
                <input class="form-control" type="text" name="address" id="address" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="zipcode">Zip Code:&nbsp;</label>
                <br>
                <input class="form-control" type="number" name="zipcode" id="zipcode" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="x_coord">X Coordinate:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000001" name="x_coord" id="x_coord" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="y_coord">Y Coordinate:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000001" name="y_coord" id="y_coord" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="lat">Latitude&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000000001" name="lat" id="lat" maxlength="50"/>
            </div>
            <br>
            <div class="form-group">
                <label for="longit">Longitude:&nbsp;</label>
                <br>
                <input class="form-control" type="number" step="0.0000000000001" name="longit" id="longit" maxlength="50"/>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Save"/>
        </form>
    </div>
</th:block>
</body>
</html>