<!DOCTYPE HTML>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Please enter the requested parameter</div>
                <br>
                <div class="panel-body">
                    <form method="post" class="form-group" action="/zipcode">
                        <div class="form-group">
                            <label for="zipcode">Zip Code:&nbsp;</label>
                            <br>
                            <input class="form-control" type="number" name="zipcode" id="zipcode" maxlength="10"/>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Ok"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <br><br>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID </th>
                            <th>Address </th>
                            <th>Zip_code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${requests}">
                            <td th:text="${request.getRequest().getId()}  ">ID</td>
                            <td th:text="${request.getAddress()}  ">Address</td>
                            <td th:text="${request.getZipcodes()}">Zip_code</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>